입력

input()함수는 콘솔창에서 문자열을 입력 받는 함수

In [5]:
print("Enter your name:")
somebody = input()
print("Hi " , somebody , " How are you today?")

Enter your name:
heejin
Hi  heejin  How are you today?

콤마(,)를 사용할 경우 print문이 연결된다.

In [6]:
print("Hello World!", "Hello Again!")

Hello World! Hello Again!

숫자 입력 받기

In [8]:
temperature = float(input("온도를 입력하세요:"))
print(temperature)

온도를 입력하세요:36.5
36.5

In [9]:
a, b = input().split()
print(a)
print(b)

Hello Python
Hello
Python

In [10]:
a, b = input('문자열 두 개를 입력하세요: ').split()
print(a)
print(b)

문자열 두 개를 입력하세요: Hello Python
Hello
Python

In [12]:
a, b = input().split(",")
print(a)
print(b)

Hello,Python
Hello
Python

In [13]:
a, b = input('문자열 두 개를 입력하세요: ').split(',')
print(a)
print(b)

문자열 두 개를 입력하세요: Hello,Python
Hello
Python

입력값을 정수로 변환하기

In [14]:
a, b = input('숫자 두 개를 입력하세요: ').split()
print(a + b)

숫자 두 개를 입력하세요: 10 20
1020

In [16]:
a, b = input('숫자 두 개를 입력하세요: ').split()
a = int(a)
b = int(b)
print(a + b)

숫자 두 개를 입력하세요: 10 20
30

In [18]:
a, b = map(int, input("숫자 두 개를 입력하세요: ").split())
#여기 들어오는 모든 애들에 대해서 Integer라는 캐스팅함수를 태우라는 것이다.
#여기에 입력된 모든 애들을 Integer함수에 태워라 -> Mapping이라고 한다.
print(a + b)

숫자 두 개를 입력하세요: 10 20
30

출력

sep로 값 사이에 문자 넣기

In [19]:
print(1, 2, 3)

1 2 3

In [20]:
print("Hello", "Python")

Hello Python

In [21]:
print(1, 2, 3, sep=', ')

1, 2, 3

In [22]:
print("Hello", "Python", sep=" ")

Hello Python

In [23]:
print(1024, 768, sep="x")

1024x768

In [24]:
print(1, 2, 3, sep='\n')

1
2
3

end 사용하기

In [26]:
print(1)
print(2)
print(3)

1
2
3

In [27]:
print(1, end=' ')
print(2, end=' ')
print(3)

1 2 3

In [28]:
print(1, end="\t")
print(2, end="\t")
print(3)

1	2	3

print formatting

In [29]:
print(1,2,3)
# 문자열 +로 연결
print(("a" + " " + "b" + " " + "c"))
# %d는 1,2,3 십진수로 출력하라는 것
print("%d %d %d"%(1,2,3))
# 위의 문법과 같은 문법으로, {}는 포지션을 의미.
print("{} {} {}".format("a", "b", "c"))

1 2 3
a b c
1 2 3
a b c

일반적으로 %-format과 str,format()함수를 사용한다.

In [30]:
print('%s %s' %('one', 'two'))
print('{} {}'.format('one', 'two'))
print('%d %d' %(1,2))
print('{} {}'.format(1,2))

one two
one two
1 2
1 2

"%datatype" % (variable)형태로 출력 양식을 표현

In [31]:
print("I eat %d apples." %3)
print("I eat %s apples." %"five")
number = 3
day = "three"
print("I eat %d apples. I was sick for %s days" %(number,day))
print("Product: %s, Price per unit: %f." %("Apple", 5.243))

I eat 3 apples.
I eat five apples.
I eat 3 apples. I was sick for three days
Product: Apple, Price per unit: 5.243000.

str.format()

In [36]:
age=36
name='Hong gill dong'
print("I'm {0} years ole.".format(age))
print("My name is {0} and {1} years old".format(name, age))
print("Product: {0}, Price per unit: {1:.3f}.".format("Apple", 5.243))
#{1:.3f}에서 .3f는 소수점 이하는 3자리까지만 표시하라는 뜻이다.

I'm 36 years ole.
My name is Hong gill dong and 36 years old
Product: Apple, Price per unit: 5.243.

In [37]:
print("Art: {0:5d}, Price per unit: {1:8.2f}".format(453, 59.058))
#5d는 다섯자리로 출력하라는 것이고 8도 8자리로 표시하라는 것이다.
#자리 확보한 후 오른쪽 정렬이 된 것이다.

Art:   453, Price per unit:    59.06

padding

In [39]:
print("Product: %5s, Price per unit: %.5f." %("Apple", 5.243))
print("Product: {0:5s}, Price per unit: {1:.5f}.".format("Apple", 5.243))
print("Product: %10s, Price per unit: %10.3f." %("Apple", 5.243))
print("Product: {0:>10s}, Price per unit: {1:10.3f}.".format("Apple", 5.243))
#>10s는 오른쪽 정렬이라는 뜻.

Product: Apple, Price per unit: 5.24300.
Product: Apple, Price per unit: 5.24300.
Product:      Apple, Price per unit:      5.243.
Product:      Apple, Price per unit:      5.243.

naming

In [42]:
print("Product: %(name)10s, Price per unit: %(price)10.5f." %{"name":"Apple", "price":5.243})
print("Product: {name:>10s}, Price per unit: {price:10.5f}.".format(name="Apple", price=5.243))

Product:      Apple, Price per unit:    5.24300.
Product:      Apple, Price per unit:    5.24300.