﻿
집합

- 값을 순서없이 저장, 중복 불허하는 자료형

- set 객체 선언을 이용하여 객체 생성

﻿

In [1]:
s = set([1, 2, 3, 1, 2, 3])
print(s)

{1, 2, 3}

In [2]:
s.add(1)
s

{1, 2, 3}

In [3]:
s.remove(1) # 전달 받은 값을 삭제 (없는 경우 error 메세지 출력)
print(s)

{2, 3}

In [5]:
s.update([1, 4, 5, 6, 7])
print(s)
# 기존의 값과 중복이 되지 않는 값들을 추가

{1, 2, 3, 4, 5, 6, 7}

In [6]:
s.discard(3) # 전달 받은 값을 삭제 (없는 경우 그냥 무시)
print(s)

{1, 2, 4, 5, 6, 7}

In [7]:
s.clear()
print(s)

set()

집합의 연산

수학에서 활용하는 다양한 집합연산 가능

In [8]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

In [9]:
print(s1.union(s2)) # 합집합
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [10]:
print(s1.intersection(s2)) # 교집합
print(s1 & s2)

{3, 4, 5}
{3, 4, 5}

In [11]:
print(s1.difference(s2)) # 차집합
print(s1 - s2)

{1, 2}
{1, 2}

In [12]:
print(s1.symmetric_difference(s2)) # 합집합 - 교집합
print(s1 ^ s2)

{1, 2, 6, 7}
{1, 2, 6, 7}

집합의 표현식

{식 for 변수 in 세트 if 조건식}

set(식 for 변수 in 세트 if 조건식)

In [25]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [26]:
set(i for i in 'apple')

{'a', 'e', 'l', 'p'}

In [27]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

In [28]:
set(i for i in 'pineapple' if i not in 'apl')

{'e', 'i', 'n'}

In [24]:
temp = set()
for i in 'pineapple':
    if i not in 'apl':
        temp.add(i)
        
temp

{'e', 'i', 'n'}

문장에서 중첩된 단어 없애기

In [33]:
corpus = 'you say goodbye and i say hello.'
words = corpus.split()
print(words)
vocab = {x for x in words if x not in '.'}
vocab

['you', 'say', 'goodbye', 'and', 'i', 'say', 'hello.']

{'and', 'goodbye', 'hello.', 'i', 'say', 'you'}

In [31]:
corpus = 'you say goodbye and i say hello.'
words = corpus.split()
set(x for x in words if x not in '.')

{'and', 'goodbye', 'hello.', 'i', 'say', 'you'}