1. 다음 소스 코드를 완성하여 리스트 [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 하시오.

리스트를 만들 때는 range를 사용하시오.

﻿

In [5]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

﻿
2. 표준 입력으로 문자열 두 개가 각 줄에 입력된다. 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 구현하시오.

예)

표준입력:

python

python

표준 출력:

yhnpto

In [8]:
first = input("첫번째 문자열 : ")
second = input("두번째 문자열 : ")

temp = first[1::2] + second[::2] 
# temp = first[1:len(first):2] + second[0:len(second):2]
print(temp)

첫번째 문자열 : python
두번째 문자열 : python
yhnpto

﻿3. 다음의 딕셔너리로 부터 아래 조건에 부합하는 자료구조를 생성하라.
 
 icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [29]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

- 다음의 딕셔너리로부터 keys 값으로만 구성된 리스트를 생성하라.

In [16]:
keys = list(icecream.keys())
print(keys)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

- 다음의 딕셔너리로부터 values 값으로만 구성된 튜플을 생성하라.

In [30]:
values = tuple(icecream.values())
print(values)

(1200, 1200, 1800, 1500, 1000)

- 다음의 딕셔너리로부터 아이스크림 가격의 총합을 출력하라.

In [31]:
total = sum(values)
print(total)

6700

In [34]:
icecream = {'탱크보이': '1200', '폴라포': '1200', '빵빠레': '1800', '월드콘': '1500', '메로나': '1000'}

# 리스트 안에 있는 문자열을 숫자로 바꾸는 방법은 무엇일까...

list

﻿4. 다음의 data와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

In [35]:
data = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [38]:
close_table = dict( zip(data, close_price))

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}